<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.shadow.sample.plugin.app.lib.base.plugin">

    <!-- 使用OkHttp时，宿主（sample-host）中必须添加这个权限 -->
    <!--    <uses-permission android:name="android.permission.INTERNET"/>-->

    <application
        android:name="com.tencent.shadow.sample.plugin3.PluginThreeApplication"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name="com.tencent.shadow.sample.plugin3.PluginThreeMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.shadow.sample.plugin3.SecondActivity" />
    </application>
</manifest>

